[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov="*"
python-coveralls="*"
codecov="*"

[packages]
fastapi = "*"
httptools = "*"
uvicorn = "*"
uvloop = "*"
gunicorn = "*"
aioredis = "*"
aiofiles = "*"
jinja2 = "*"


[requires]
python_version = "3.8"
